.container {
  display: flex;
  color: whitesmoke;
}

.d1 {
  margin: 25px;
}

.d1 h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.d1 div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  width: 790px;
  height: auto;
}

/* Adjust layout for small screens */
@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  /* Move the image below the title */
  .image {
    order: 2;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .d1 {
    order: 1;
  }
}
